ul {
    list-style: none;
}

.list-group {
    width: 50%;
    display: flex;
}

.list-ville-color {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20px;
    background-color: red;
}
.list-ville-name {
    justify-content: center;
    align-content: center;
}
