table{
    border-collapse:collapse;
}
  
table th, table td{
    border: 1px solid #000;
    padding: 10px;
}
  
table tr th{
    background-color: #feeedc;
}
  
  
table tr:first-child td{
    background-color: #fff;
}
  
table tr th:first-child{
    background-color: #42daee;
}

.bouton-retour {
    margin: 20px;
}

.tableau-detail {
    margin-left: 20px;
}
  
  