<!--Navbar-->
<nav class="navbar navbar-light navbar-1 white">

    <h2>{{ title }}</h2>
    <!-- bouton navigation sur lequel pointe l'écouteur d'évènement-->
    <button class="navbar btn btn-success" type="button" (click)="ngOnClick()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- s'affiche uniquement si le bouton est activé-->
    <div class="navbar-collapse" [hidden]="!isActive">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>        
            <li routerLinkActive="active"><a routerLink="listeville">Caracteristiques</a></li> 
            <li routerLinkActive="active"><a routerLink="new">Nouvelle Ville</a></li>
        </ul>
    </div>

</nav>


