<div class="row">  
	<div class="col-sm-8 col-sm-offset-2">    
	      <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> --> 
            <form [formGroup]="cityForm" (ngSubmit)="onSubmitForm()">
                  <div class="form-group">        
                        <label for="name">Nom de la ville</label>        
                        <!-- <input type="text" id="name" class="form-control" name="name" ngModel required> -->
                        <input type="text" id="name" class="form-control" formControlName="name">
                  </div> 

                  <div class="form-group">        
                        <label for="specialite">Specialite de la ville</label>        
                        <!-- <input type="text" id="specialite" class="form-control" name="specialite" ngModel required> -->
                        <input type="text" id="specialite" class="form-control" formControlName="specialite">
                  </div>   

                  <div class="form-group">        
                        <label for="status">Statut de la ville</label>        
                        <!-- <select id="status" class="form-control" name="status" [ngModel]="defaultOnOff"> -->
                        <select id="status" class="form-control" formControlName="status">        
                              <option value="eteint">Eteinte</option>          
                              <option value="allume">Allumee</option>
                        </select>
                  </div>

                  <!-- <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button> -->
                  
                  <button class="btn btn-primary" type="submit" [disabled]="cityForm.invalid">Enregistrer</button>

                  <button class="btn btn-primary" (click)="onSave()">Enregistrer les villes en Bdd</button>

            </form>  
       </div>
</div>
